<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">

  <br>
  <h1>Add New Ticket Type for <%= @event.name %></h1>
  <br>&nbsp;

  <%= render 'form' %>

  </div>
  <div class="col-sm-2"></div>
</div>
